/* styles go here */
input:not(:last-child) {
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 20px;
}

textarea:not(:last-child) {
  margin-bottom: 10px;
}

select:not(:last-child) {
  margin-bottom: 10px;
}
